<h1><%= _('Identify participant') %></h1>
<%= sanitize _('Identify yourself to the meeting organiser by passing this code to them for validation:') %>
<div class="mt-2">
<span class="border rounded p-2 text-dark bg-light "><%= @participant.token -%></span>
</div>

<script type="text/javascript">
App.cable.subscriptions.create(
  { channel: "ParticipantNotificationsChannel", id: "<%= @participant.id -%>" },
  {
    connected: function() {
      console.log("connected");
    },

    disconnected: function() {
      console.log("disconnected");
    },

    rejected: function() {
      console.log("rejected");
    },

    received: function(data) {
      console.log('Received:', data);
      switch(data['message']) {
      case 'refresh':
        location.reload();
        break;
      case 'removed':
        location.reload();
      default:
        console.log('Unsupported message:', data);
      }
    }
  }
);
</script>