<li class="list-group-item d-flex justify-content-between voting-option" data-id="<%= option.id -%>">
    <div class="mr-auto"><%= sanitize option.text %></div>
    <div class="actions">
    <%= link_to fa_icon('trash-alt'), destroy_voting_option_path(@voting.id, option.id), method: :delete, remote: true, data: { confirm: _('Are you sure you want to delete the option?') } %>
    </div>
</li>