<section class="primary">

<h1><%= _('Errors|Unauthorized') %></h1>
<p><%= _('You are not authorized to access the requested page or feature.') %></p>

<% if @debug_info.present? %>
<p><%= @debug_info[0] %></p>
<% end %>
</section>