
$theme-colors: (
    "primary": #004882,
    "secondary": #296CAA,
    "warning": #e4a160,
);

[data-toggle="collapse"] {
    cursor: pointer;
}

.flex-even {
    flex: 1;
}

h1 {
    size: 2rem;
}

@media (max-width: 768px) {
    .content {
        padding: 1rem;
        width: 100%;
    }    

    #header-container {
        img {
            max-height: 56px !important;
        }

        .action {
            font-size: 0.7rem;
        }
    }
}

@media (min-width: 768px) {
    .content {
        padding: 1rem;
        min-width: 480px;
        width: 80vw;
        max-width: 960px;
    }
}

body {
    font-family: 'nexa_lightregular', sans-serif;
}

#header-container {
    box-shadow: 0px 0px 10px black;
}

