<div id="header-container" class="d-flex justify-content-between shadow shadow-lg">
<div class="p-1"><%= image_tag 'logo.png', alt: 'FlowingVotings', style: 'max-height: 80px;' -%></div>
<% if session[:meeting_id].present? %>
<div class="p-3"><%= link_to fa_icon('sign-out-alt'), admin_logout_path(), title: _('logout'), class: 'fa-2x', data: { toggle: 'tooltip' } %></div>
<% end %>
</div>